<body class="homepage">
    
<h1>WELCOME</h1>

<%= link_to 'Browse Memes', welcome_index_path, id: 'browse', class: 'button'%>
<%= link_to 'Upload Meme', welcome_index_path, id: 'upload', class: 'button'%>
<%= link_to 'Sign Up', accounts_new_path, id: 'signUp', class: 'button'%>
<%= link_to 'Login', accounts_new_path, id: 'login', class: 'button'%>

</body>
