// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type='button'], input[type='submit'] {
    background-color: Gray;
    float: left;
    border: none;
    color: White;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}

 input[type='text'] {
     width: 450px;
     height: 50px;
     font-size: 2em;
     background-color: White;
 }
 
 label
 {
     font-size: 2.8em;
      background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
 }
 
 .loginSignup
{
    float: left;
    margin-left: -275px;
    margin-top: 75px;
}

.existingUser
{
    position: absolute;
    top: 300px;
    left: 200px;
}

#error_explanation
{
    color: White;
}

input[type='password']
{
    width: 450px;
    height: 50px;
    font-size: 2em;
    background-color: White;
}
