// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
    text-align: center;
    margin-top: 75px;
    font-weight: bold;
    font-size: 5em;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

html
{
    height: 100%;
}

body
{
    min-height: 100%;
}

body
{
    background-image: url('Homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.button
{
    display: inline-block;
    padding: 5px 10px;
    border: 10px solid Purple;
    border-radius: 25px;
    background-color: Gray;
    color: White;
    text-decoration: none;
    font-size: 2em;
    font-family: Comic Sans MS;
    width: 250px;
    text-align: center;
}

#browse
{
    position: absolute;
    top: 300px;
    right: 200px;
}

#browse:hover
{
    transform: scale(1.1);
    text-decoration: none;
    color: white;
}

#upload
{
    position: absolute;
    top: 500px;
    right: 200px;
}

#upload:hover
{
    transform: scale(1.1);;
    color: white;
}

